header {
    padding: 12px 20px;
    background-color: #E25300;
    border-radius: 8px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999999;
}

header ul {
    display: inline-block;
    margin: 0 0;
    padding-left: 0;
    list-style-type: none;
    position: sticky;
}

header ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.container {
    width: 100%;
    height: 1000px;
    margin-top: 50px;
    background-color: #CCCCCC;
    border-radius: 8px;
    position: relative;
    top: 0;
    left: 0;
}

.container .child {
    width: 100px;
    height: 60px;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    line-height: 60px;
    border-radius: 8px;
}

.container .child-1 {
    background-color: #d44e00;
    position: absolute;
    top: 0;
    left: 0;
}

.container .child-2 {
    background-color: #D40000;
    position: absolute;
    top: 20px;
    right: 20px;
}

.container .child-3 {
    background-color: #369400;
    position: absolute;
    bottom: 40px;
    right: 40px;
} 

.container .child-4 {
    background-color: #2A00D4;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.content {
    margin-top: 30px;
    padding: 80px 50px;
    background-color: #0065BC;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.content .inner-content {
    color: #FFF;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.content .inner-content::first-line {
    text-transform: uppercase;
}

.content .inner-content::first-letter {
    font-size: 50px;
}

.content::before {
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #00539B;
    position: absolute;
    top: 20px;
    left: 20px;
}

.content::after {
    content: "";
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #00539B;
    position: absolute;
    bottom: -50px;
    right: -50px;
}

.contact {
    position: relative;
    bottom: 0;
    left: 0;
}

.contact .tel a {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

.contact .tel a i {
    color: #FFF;
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: #147A00;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
}
